.data_string{
    display: inline-block;
    font-size:18pt;
}
.link_to_main{
    display:inline-block;
    margin-top: 20px;
    margin-left: 50px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;

}